
    

:root{
--color1: #fff;
--color2: #859398;
--color3: #001E2D;
--color4:  black;

}
body{
    background: linear-gradient(to left,var(--color2) ,var(--color1));
   
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.barra_menu{
    background: linear-gradient(to left ,var(--color2), var(--color3));
    color: var(--color1);
    
}
/* opciondes de barra nav */
.boton{
    background-color:  dark;
    color: var(--color1);
    margin-top: 2px;
    padding: 10px;
    padding-right: 20px;
    border: none;
    border-radius: 1px;
    
}

.carousel-item{
height: 490px;
}

.op{  
color: var(--color1);

}




.text_car{
color: var(--color3);}



.text_blanco{
color: var(--color1);}


/* boton de iniciar session */
.boton:hover{
    background-color: #001D2C;
    color: white;
    cursor: pointer;
}

/* input de login y register */

input{
    width: 100%;
    padding: 10px;
    margin: 10px 20;
    border: none;
    border-radius: 2px;
    background-color: #f1f1f1;
}




.contacto{
    background-color: var(--color3);
    color: var(--color1);
    padding: 120px;
}





.text-2{
color:var(--color1);
}
 /* ajuste de columna de contacto */
.footerr{
    background-color:  var(--color3);
    color:  var(--color1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    width: 100%;
    height: 100%;
}



